<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path('home_banner.jpg') %>)">
  <div class="container">
    <h1>Mon futur appartement</h1>
    <p>Gérez les différentes pièces et meubles de votre futur appartement</p>
    <%= link_to "Découvrez toutes les pièces", rooms_path, class: "btn btn-flat" %>
  </div>
</div>
