.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbar-size {
  height: 60px;
}

.logo {
  height: 50px;
  width: 60px;
}

.form-control {
  border-radius: 20px;
  position: relative;
}

button {
  border-radius: 20px;
  border: none;
  position: absolute;
  right: 130px;
}
